<div class="row">
    <div class="col-12">
        <form [formGroup]="decisionForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="decisionText">Decision</label>
                    <input #decisionTextInput type="text" id="decisionText" class="form-control" formControlName="decisionText">
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <button type="submit" class="btn btn-success" [disabled]="!decisionForm.valid">Continue</button>
                  </div>
                </div>
              </div>
        </form>
    </div>
</div>
