<nav class="navbar navbar-expand-xl navbar-nav navbar-dark bg-primary">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/" class="navbar-brand">Decidely</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/welcome">Welcome</a></li>
                <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/decision">Decide</a></li>
                <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/about">About</a></li>
                <li class="nav-item" routerLinkActive="active"><button class="btn btn-success" (click)="onGenTestData(); ngOnInit();">GenTestData</button></li>
            </ul>
        </div>
    </div>
</nav>

<div class="row" *ngIf="data.decision">
    <div class="col-12">
      <h3>
        <u>Decision</u>: <em>{{ data.decision?.text }}</em>
      </h3>
    </div>
  </div>
  