<div class="row">
    <div class="col-12">
        <div class="table-bordered">
            <form [formGroup]="scoreForm" (ngSubmit)="onSubmit()">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Factors (weight) | Options</th>
                            <th *ngFor="let option of dataService.options">{{ option.text }}</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="scores">
                        <tr *ngFor="let factor of dataService.factors; let i = index">
                            <th>{{ factor.text }} ({{ factor.weight }})</th>
                            <td *ngFor="let option of dataService.options; let j = index">
                                <input type="number" class="form-control" [formControlName]="dataService.options.length*i+j" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-success" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>